// .bold {
//   font-weight: bold;
// }

// .red {
//   color: #ff0000;
// }
// .green {
//   color: #33cc33;
// }

// .user {
//   margin-top: 5px;
// }

// .user::after {
//   content: "";
//   display: table;
//   clear: both;
// }

// .user img {
//   float: left;
//   width: 100px;
//   height: 100 px;
//   margin-right: 5px;
// }


// span {

//   margin-bottom: 10px;
// }

// a {
//   text-decoration: none;
//   font-size: 18px;
// }

// // div {
// //   padding: 10px 0;
// // }
