<!-- <div class="bold">
  {{data.name}}
</div> -->
<div class="repository-top">
    <div class="repository__col-9 repository__col-left">
        <a class="repository-link" [href]="data.html_url">{{data.owner.login}} / {{data.name}}</a>
        <span class="repository-stats__stars">
          <svg aria-label="star" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14">
            <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path>
          </svg>
          {{data.stargazers_count}}
        </span>

        <span class="repository-owner">Owner: <a [href]="data.owner?.html_url">{{data.owner?.login}}</a></span>
        <p class="repository-description">{{ data.description }}</p>
    </div>

    <div class="repository__col-3 repository__col-right">
        <img class="repository-pic" [src]="data.owner?.avatar_url" />
    </div>
</div>

<div class="repository-bottom">
    <div class="repository__col-6 repository__col-left">
        <div class="repository-stats">
            <span class="repository-stats__issues">issues: <strong>{{data.open_issues_count}}</strong></span>
        </div>
        <span class="repository-last-update">Updated: {{ data.updated_at | timeAgo }}</span>
    </div>

    <div class="repository__col-6 repository__col-right">
        <span class="repository-code-lang">Language: {{ data.language }}</span>
    </div>
</div>
