<header class="header">
    <div class="container">
        <a href="/" class="logo">Logo</a>
        <gh-app-search (onSearch)="search($event)"></gh-app-search>
    </div>
</header>

<main class="app-layout__body">
    <div class="app-layout__content">
      <div class="container">
          <ul class="search-result">
              <li class="repository" *ngFor="let repo of repositories | paginate: { itemsPerPage: 12, currentPage: p}; trackBy:trackReposBy">
                  <gh-app-repository [data]="repo"></gh-app-repository>
                  <button class="repository-delete-btn" (click)="deleteItem(repo)">X</button>
              </li>
          </ul>
          <pagination-controls autoHide="true" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
</main>
