.header {
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.15);
  padding: 15px;
  background-color: $blue-gray-color;
}

.header>.container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header>.container {
    flex-direction: column;
  }
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  flex: auto 1 0;
  &:hover {
    text-decoration: none;
  }
}

.search {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 10px;
}

.search form {
  display: flex;
  flex: auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search__repository-name {
  outline: none;
  flex: auto;
  font-weight: 100;

  padding: 10px 15px;
  border: 1px solid #fff;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: border-color 150ms linear, background-color 150ms linear;
  background-color: #fff;
  color: #222;
}

.search__submit-btn {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #fff;
  background-color: #fff;
  color: $blue-gray-color;
  cursor: pointer;

  &:hover {
    color: $blue-gray-color;
  }
}

.search__submit-btn:disabled {
  color: #cacaca;

  &:hover {
    cursor: default;
    color: #cacaca;
  }
}
