.gh-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.gh-layout__body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.gh-layout__content {
  margin: 0;
  width: 100%;
}

.container {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
