.search-result {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.repository {
  width: 33%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
  margin: 0 -20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.repository__layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repository__col-9 {
  width: 75%;
}

.repository__col-3 {
  width: 25%;
}

.repository__col-6 {
  width: 50%;
}

.repository__col-left {
  text-align: left;
}

.repository__col-right {
  text-align: right;
}

// top
.repository-top {
  display: flex;
  flex-flow: row nowrap;
}

.repository-top__left {
  text-align: left;
  padding-right: 5px;
}

.repository-top__right {
  width: 25%;
  text-align: right;
}

.repository-link {
  color: $blue-color;
  font-size: 18px;
  font-weight: bold;
}

.repository-owner,
.repository-owner a {
  font-size: 14px;
}

.repository-owner {
  margin-top: 5px;
  display: block;
}

.repository-owner a {
  color: $blue-color;
}

.repository-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.015em;
}

.repository-pic {
  border: 1px solid #ededed;
  border-radius: 50%;
  width: 80px;
}


.repository-stats {
  margin-top: 5px;
  font-size: 14px;
}

.repository-stats__stars {
  color: $green-color;
  font-size: 14px;
    font-weight: bold;
    color: #33cc33;
    position: relative;
    padding-left: 18px;
    display: inline-block;
}

.repository-stats__stars svg {
  fill: $green-color;
  position: absolute;
  top: -1px;
  left: 2px;
}

.repository-stats__issues {
  color: $red-color;
}


// bottom
.repository-bottom {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

.repository-bottom__left {
  width: 50%;
  text-align: left;
}

.repository-bottom__right {
  width: 50%;
  text-align: right;
}

.repository-code-lang {
  font-size: 12px;
  display: block;
  font-style: italic;
}

.repository-last-update {
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.repository-delete-btn {
  position: absolute;
  border: 0;
  padding: 0;
  top: 5px;
  right: 10px;
  cursor: pointer;
  background-color: #fff;
  color: $red-color;
  font-size: 18px;
}
