<form #form="ngForm"
      (ngSubmit)="clickHandler()">
        <input
          class="search__repository-name"
          type="text"
          placeholder="Find a repository..."
          required
          [(ngModel)]="searchValue"  name="searchValue">
          <button type="submit"
                  class="btn btn_blue search__submit-btn" [disabled]="!searchValue">Search</button>
</form>
