@import "variables";
@import "normalize";

/* **** Basic GH Styles **** */

html,
body {
  height: 100%;
  padding: 0;
  border: 0;
}

body {
  position: relative;
  font-family: -apple-system ,BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #222;
  background-color: #f3f3f3;

  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:after,
:before {
  box-sizing: inherit
}

a {
  color: inherit;
  text-decoration: none;
  font-family: -apple-system ,BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",sans-serif;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline
}

a, input, button {
  line-height: 1.4;

  &:active, &:focus {
    outline: none;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// input, button {
//   font-family: -apple-system ,BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",sans-serif;
// }

.btn {
  font-weight: 300;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 150ms linear, color 150ms linear;
}

.btn:hover {
  outline: none;
}

.btn_blue {
  border-color: $blue-color;
  background-color: $blue-color;
  color: #fff;
}

.btn_blue:hover {
  background-color: #fff;
  color: $blue-color;
}

.btn_red {
  border-color: $red-color;
  background-color: #fff;
  color: $red-color;
}

.btn_red:hover {
  background-color: $red-color;
  color: #fff;
}
